/* imports here */
/* 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */



/* variables here */

:root{
    --color-primary: #ffe598;
    --color-secondary: #68ca87;
    --color-accent: #655eb0;
    --background-light: #fbfaf7;
    --background-light-hover: #fff;
    --background-dark: #2b2d42;
}


/* code here */

*{
    margin: 0px;
    padding: 0px;
}


h1,h1,h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-secondary);

    text-shadow: 2px 2px 3px var(--background-dark);
}


header{
    top: 0;
    width: 100%;
    background-color: var(--background-light);
    color: var(--color-accent);
}


h1 + *{
    color: var(--color-accent);
    text-align: center;
    font-weight: 600;
}


header > *{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

@media (min-width: 40rem){
    header {
        display: flex;
        flex-direction: column nowrap;
        justify-content: space-around;
    }

    header > *{
        flex-flow: row nowrap;
    }
}



a{
    text-decoration: none;
    color: var(--background-dark);
}

a:hover{
    background-color: var(--background-light-hover);
    font-weight: 600;
}

#navDiff:hover{
    background-color: var(--background-dark);
}

/* #cartImg{
    src: url("../img/cart_black.svg");
} */

header div{
    margin: .4rem;
}

header > div > div >img{
    width: 3rem;
}

header >nav {
    align-items:stretch;
}


header nav > *{
    padding: 1rem;
    text-align: center;
}





footer{
    background: black;
    padding: 1em;
    color: white;
    text-align: center;
}
