body{
    width: 100%;
    height: 100%;
    background: gray;
}

form{
    padding: 1em;
}

fieldset{
    padding: 1em;
    border: 0px;
    /* border-radius: 1em; */
    display: flex;
    flex-flow: column;
    align-items: center;
}


legend{
    margin: 1em;
}

.inputContainer, .submitContainer{
    padding: 0px 1em;
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: space-around;
}

#email, #pass{
    margin: .5em 0px;
    padding: .5em 1em;
    border: 1px solid orange;
    border-radius: 1em;
    color: green;
}

#email:active,#pass:active{
    border: 2px solid orange;
}

.submitContainer{
    align-items: center;
}

#submit{
    background: blue;
    color: white;
    padding: .5em;
    border: 0px;
    border-radius: 1em;
    width: 10em;
}

#submit:hover{
    background: blueviolet;
}
