*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
}

form{
    padding: 1em;
}

fieldset{
    padding: 1em;
    border: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

legend{
    margin: auto 1em;
}

.emailContainer, .passContainer, .submitContainer{
    /* background: grey; */
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#email, #pass{
    text-align: center;
    width: 30vw;
    font-weight: bold;
    background: transparent;
    margin: .5em 0px;
    padding: .5em 1em;
    border: 1px solid #138d75;
    border-radius: 1em;
}

#email:hover,#pass:hover{
    transition: 1s ease;
    width: 50vw;
    border: 2px solid #138d75;
}

#email:focus,#pass:focus{
    outline: none;
}

.submitContainer{
    align-items: center;
    margin-top: 2em;
}

#submit{
    background: blue;
    color: white;
    padding: .5em;
    border: 0px;
    border-radius: 1em;
    width: 10em;
}

#submit:hover{
    background: blueviolet;
}

#backToHomePage{
    padding: .3em;
}


.signupContainer{
    text-align: center;
}
