/* imports here */


/* variables here */
:root{
    --color-primary: #ffe598;
    --color-secondary: #68ca87;
    --color-accent: #655eb0;
    --background-light: #fbfaf7;
    --background-light-variant: #e4d1b9;
    --background-dark: #2b2d42;
    --background-dark-variant: #999;

    --fontsize-small: .75rem;
    --fontsize-large: 1.25rem;
    --fontsize-heading: 2rem;
}

/* code here */

body{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
}

.slideshow{    
    margin-top: 10vw;
}

.slideshow img{
    border-radius: 1rem;    
    width: 90vw;
    height: 40vw;
    transition: translateX(100%) 1s ease-in-out;
}


/* assigning colors to the sections */

section:not(#main){    
    background-color: var(--background-light);
    color: var(--background-dark);
}

section:not(#main):nth-of-type(odd){
    background-color: var(--background-light-variant);
    color: var(--background-dark);
}


/* designing up inside of section */

/* section:not(#main) > div{
    
    border: 1px solid black;
} */

section:not(#main) > div:not(.content){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content > h2{
    padding-top: 8vw;
}


.sImg{
    width: 30rem;
    height: 100%;
}


/* This is to set the image width if screen size is less then 30rem */

@media screen and (max-width: 30rem){
    .sImg{
        width: 90%;
    }
}

/* .content{
    margin: 1rem;
} */

.content > h2{
    color: var(--color-accent);
    text-align: center;
    font-size: var(--fontsize-heading);

}

.content > p{
    padding: 4rem;
    text-align: center;
    font-size: var(--fontsize-large);
}



@media (min-width: 80rem) {

    .slideshow{
        margin-top: 4rem;
        height: 90vh;
    }

    .slideshow img{
        height: 80vh;
    }

    button{
        background-color: red;
    }

    section:not(#main){
        display: flex;
    }

    section:not(#main):nth-of-type(even) > div.content{
        order: -1;
    }
}


.imgCont{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    position:relative;
}