/* imports here */


/* variables here */
:root{
    --color-primary: #ffe598;
    --color-secondary: #68ca87;
    --color-accent: #655eb0;
    --background-light: #fbfaf7;
    --background-light-variant: #dfdddb;
    --background-dark: #2b2d42;
    --background-dark-variant: #999;

    --fontsize-small: .75rem;
    --fontsize-large: 1.25rem;
    --fontsize-heading: 2rem;
}

/* code here */

body{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);

    margin-top: calc(10vw + 40px);
}


/*


    slideshow here


*/


.imgCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCont img{
    width: 90vw;
    height: 40vw;

    border: 1px solid var(--background-dark);
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem var(--background-dark);    
}

/* removing slideshow for mobile screen, looked terrible */
@media screen and (max-width: 600px) {
    .slideshow{
        display: none;
    }
}



/* assigning colors to the sections */

section:not(#main){    
    background-color: var(--background-light);
    color: var(--background-dark);
}

section:not(#main):nth-of-type(odd){
    background-color: var(--background-light-variant);
    color: var(--background-dark);
}


/* designing up inside of section */

div.sImg{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* This is to set the image width if screen size is less then 60rem(tab) */

@media screen and (max-width: 60rem){
    div.sImg > img{
        width: 90%;
    }
}




.content > h2{
    color: var(--color-accent);
    text-align: center;
    font-size: var(--fontsize-heading);

}

.content > p{
    padding: 1rem 4rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: var(--fontsize-large);
}



/*


    media query for large screens


*/

@media screen and (min-width: 60rem) {

    .slideshow{
        /* margin-top: 4rem; */
        height: 90vh;
    }

    .slideshow img{
        height: 80vh;
    }

    button{
        background-color: red;
    }

    section:not(#main){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    section:not(#main):nth-of-type(even) > div.sImg{
        order: 1;
    }

    div.sImg{
        width: 100%;
    }

    div.sImg > img{
        width: 100%;
    }

    section:not(#main) > div.content{
        margin: 0px auto;
        height:auto;
        padding-top: 1rem;
    }

    div.content > h2{
        padding-top: 0px;
    }
}




footer{
    position:relative;
}