*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    background: #138D75;
    display: flex;
    justify-content: space-between;
}

.headingContainer{
    padding: 1em 2em;
    color: white;
}

.headingContainer h1{
    font-size: 3em;
    text-shadow: 2px 2px black;
}

.headingContainer p{
    font-family: 'Ubuntu mono',monospace;
    font-size: 1.35em;
    text-shadow: 1px 1px black;
}

.navContainer{
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.navContainer nav{
    height: 100%;
    /* background: grey; */

    display: flex;
    align-items: center;
}

.navContainer nav a{
    height: 100%;
    width: 6em;
    text-decoration: none;
    color: silver;
    font-family: 'Source code pro',sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    padding: 1em;
}

.navContainer nav a:hover, .navContainer nav .active{
    font-weight: bolder;
    color: white;
}


.slideshow img{
    width: 90vw;
    height: 80vh;
}

.imgCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev,#next{
    font-size: 1.5em;
    border-radius: 50%;
    align-self: center;
    padding: .1em .4em;
    border: 2px solid black;
}

table tr td img{
    width: 5em;
}



footer{
    padding: .5em 0px;
    background: grey;
    font-weight: 500;
    text-align: center;
    color: white;
}
