/* imports here */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* variables here */
:root{
    --color-primary: #ffe598;
    --color-secondary: #68ca87;
    --color-accent: dodgerblue;
    --background-light: #fbfaf7;
    --background-dark: #282d42;


    --small-font-size: .75rem;
}

/* code here */


body{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);


    margin-top: calc(10vw + 40px);
}

form{
    margin-top: 2vw;
    padding: 1em;
}

fieldset#main{
    /* margin: 1rem 20rem; */
    padding: 5vw 10vw;
    height: 70vh;
    background-color: var(--background-light);
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
    border: 0px;
    border-radius: 2rem;
    box-shadow: 0px 0px 2rem rgba(92,99,105,.4);
}


div.inputContainer{
    width: 100%;
}


fieldset:not(#main){
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: .4rem;
    border: 0px;
}


.form_input{
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    padding: .1rem .4rem;

    border: 1px solid var(--background-dark);
    border-radius: .4rem;

    color: var(--color-secondary);
    background-color: var(--background-light);
}

.form_label{
    position: absolute;
    left: .5rem;
    top: .5rem;

    transition: .3s;
    
    color:var(--color-accent);
}



div.gender{
    margin: 5vw auto;
    color: var(--background-dark);
    padding: 0px 4vw;
}

input#gender{
    width: 1rem;
    padding: .5rem 1rem;
    margin: auto .5rem;
}


div.submit{
    display: flex;
}

input#submit{
    display: block;
    width: 40vw;
    padding: .3rem;

    border: 0px;
    border-radius: .4rem;    

    background-color: var(--color-secondary);
    color: var(--background-light);
}


/* hover effect here */

.form_input:hover{
    cursor: pointer;
}


input#submit:hover{
    box-shadow: 0px 0px 3rem var(--color-secondary);

}


/* focus effect here */

.form_input:focus{
    cursor: text;

    width: 100%;
    height: 100%;
    outline: 0px;

    color: var(--color-secondary);
    border: .1rem solid var(--color-secondary);
}


.form_input:focus + .form_label{
    top: -.6rem;
    left: .8rem;
    padding: 0px .1rem;
    font-weight: 500;
    font-size: var(--small-font-size);
    z-index: 10;
    color: var(--color-secondary);
    background-color: var(--background-light);
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
    top: -0.5rem;
    left: 0.8rem;
    padding: 0px .1rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
    color: var(--color-secondary);
    background-color: var(--background-light);
}


input#submit:focus{
    box-shadow: 0px 0px 0px;
}


@media  screen and (min-width: 60rem) {
    
    form{
        margin: auto 4rem;
    }

    fieldset#main{
        padding: unset;
        padding: 0px 10em;

        margin: unset;
        margin: auto 5em;
    }

    .form_input{
        width: 90%;
    }

    div.gender{
        padding: unset;
        padding: 1rem 0px;

        margin: unset;
        margin: 2rem auto;

        display: flex;
        justify-content: flex-start;
    }


    div.submit{
        width: 100%;
        
        padding-right: 5em;
        justify-content: flex-end;
    }


    input#submit{
        right: 0;
        width: 10em;
    }
}