/* imports here */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* variables here */
:root{
    --color-primary: #ffe598;
    --color-secondary: #68ca87;
    --color-accent: #655eb0;
    --background-light: #fbfaf7;
    --background-dark: #2b2d42;
}

/* code here */

*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
}

form{
    padding: 1em;
}

fieldset{
    margin: 1rem 20rem;
    padding: 1em;
    height: 70vh;
    background-color: var(--background-light);
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
    
    border: 0px;
    border-radius: 2rem;
    box-shadow: 0px 0px 2rem grey;
}

fieldset > *{
}

/* .emailContainer, .passContainer, .submitContainer{
    width: 50vw;
}

#email, #pass{
    text-align: center;
    width: 30vw;

    font-size:medium;
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    background: transparent;
    color: var(--background-dark);

    margin: .5em 0px;
    padding: .5em 1em;

    border: .2rem solid var(--color-secondary);
    border-radius: 1em;
    box-shadow: 0px 0px .5rem var(--color-secondary);
}

#email:hover,#pass:hover{
    transition: 1s ease;
    width: 40vw;
    color: var(--color-accent);
    box-shadow: 0px 0px .8rem var(--color-secondary);
}

#email:focus,#pass:focus{
    outline: none;
    background: var(--color-secondary);
    color: white;
    box-shadow: 0px 0px 1rem var(--color-secondary);
}

.submitContainer{
    margin-top: 2em;
}

#submit{
    background: blue;
    color: white;
    padding: .5em;
    border: 0px;
    border-radius: 1em;
    width: 10em;
}

#submit:hover{
    transition: 1s ease;
    box-shadow: 0px 0px 1rem blue;
}

#backToHomePage{
    padding: .3em;
}


.signupContainer{
    text-align: center;
    color: var(--color-accent);
}

.signupContainer > a:hover{
    background-color: transparent;
    font-weight: 400;
    transition: .5s ease;
    text-shadow: 0px 0px .1rem var(--background-dark);
} */